<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Granja Sys - Registro de Ovos</title>
    <link rel="stylesheet" href="../static/visual/style.css">
</head>
<body>
    <div class="menu_topo">
        <a href="#"><div class="button_cont  activate">Registro de Ovos</div></a>
        <a href="/registro_gastos"><div class="button_cont">Registro de Gastos</div></a>
        <a href="/registro_vendas"><div class="button_cont">Registro de Vendas</div></a>
    </div>
    <div class="conteudo">
        <h1>Registro de Ovos</h1>
        <form id="formRegistro">
            <input type="number" name="qt_ovos" id="qt_ovos" placeholder="Quantidade de Ovos" required>
            <input type="datetime-local" name="dt_ovos" id="dt_ovos" required>
            <input type="button" value="Registrar" id="btnRegistrar">
        </form>

        <h2>Ovos Registrados</h2>
        <table id="tabelaOvos">
            <tr>
                <th>ID</th>
                <th>Data e Hora</th>
                <th>Quantidade</th>
                <th>Deletar</th>
            </tr>
        </table>
        <div class="c_total">
            <span>Quantidade de Ovos já coletados ao todo: </span><b id="qt_tovos">0</b>
        </div>
    </div>
    <script src="../static/manip_form_regovos.js"></script>
</body>
</html>