<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Granja Sys - Registro de Vendas</title>
    <link rel="stylesheet" href="../static/visual/style.css">
</head>
<body>
    <div class="menu_topo">
        <a href="/"><div class="button_cont">Registro de Ovos</div></a>
        <a href="/registro_gastos"><div class="button_cont">Registro de Gastos</div></a>
        <a href="#"><div class="button_cont activate">Registro de Vendas</div></a>
    </div>
    <div class="conteudo">
        <h1>Registro de Vendas</h1>
        <form id="formRegistro">
            <input type="datetime-local" name="dt_vendas" id="dt_vendas" required>
            <input type="text" name="vl_vendas" id="vl_vendas" placeholder="R$ 0.00" required>
            <input type="button" value="Registrar" id="btnRegistrar">
        </form>

        <h2>Vendas Registradas</h2>
        <table id="tabelavendas">
            <tr>
                <th>ID</th>
                <th>Data e Hora</th>
                <th>Valor de Vendas</th>
                <th>Deletar</th>
            </tr>
        </table>
    </div>
    <script src="../static/manip_form_regvendas.js"></script>
</body>
</html>